body {
    overflow-y: hidden;
    overflow-x: hidden;
    color: #ffffff;
    background-color:#1bafdb;
}

#buttonContainer {
  align-items: center;
  justify-content: center;
  position: relative;
  left: 48%;
  top: 25rem;
}

@keyframes clickEffect {
  0% {
    transform: scale(1); /* Escala inicial del botón */
  }
  50% {
    transform: scale(0.9); /* Escala durante la mitad de la animación */
  }
  100% {
    transform: scale(1); /* Escala final del botón */
  }
}

#startButton {
  box-shadow: 2px 2px;
}

#startButton:hover {
  cursor: pointer;
}

#startButton:active {
  /* Estilos al hacer clic en el botón */
  animation: clickEffect 0.3s;
}

#container {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 20px;
  display: none;
}
